@charset "utf-8";

// 폰트 라이트=300 레귤러= 400, 미듐= 500, 세미볼드=600 볼드=700
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

// Mixin
@mixin full-width {
  max-width: 1920px;
}

@mixin contents-width {
  width: 66.66vw;
}

@mixin margin-auto {
  margin: 0 auto;
}

@mixin gradient {
  background: linear-gradient(94deg, #0090F7, #BA62FC, #F2416B, #F55600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@mixin gradient2 {
  background: linear-gradient(94deg, #0090F7 0%, #BA62FC 15%, #F2416B 38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@mixin shadow {
  box-shadow: 0 0.2vw 0.52vw rgb(0, 0, 0, 25%);
}


// 전체
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1200px) {}

// 슬라이드
.mySwiper {
  @include full-width;
  height: 592px; //592px
  overflow: hidden;

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    cursor: default;

    div {
      width: 26.04vw; //500px
      height: 100%;
      @include margin-auto;
      margin-top: 35px; //35px
      text-align: center;

      h2 {
        margin-bottom: 0;
        margin-top: 2%;

        font: {
          size: 2.6vw; //50px
          weight: 800;
        }
      }

      h4 {
        margin: 0;

        font: {
          size: 0.83vw; //16px
          weight: 700;
        }
      }

      p {
        margin: 25px 0; //25px 0

        font: {
          size: 1.04vw; //20px
          weight: 500;
        }
      }

      button {
        width: 5.8vw; //110px
        padding: 7px 0.78vw; //7px 15px
        margin: 0 0.52vw; //0 10px
        border: 1px solid #0077ED;
        border-radius: 50px;
        cursor: pointer;

        font: {
          size: 0.83vw; //16px
          weight: 500;
        }

        color: #0077ED;
        background-color: transparent;

        &:first-of-type {
          background-color: #0077ED;
          color: #fff;
        }

        &:last-of-type:hover {
          background-color: #0077ED;
          color: #fff;
        }
      }
    }
  }

  .slideImg1 {
    background-image: url(../public/img/slide_watch.png);
    background-size: cover;
    background-position: center;
  }

  .slideImg2 {
    background-image: url(../public/img/slide_macbook.png);
    background-size: cover;
    background-position: center;

    div {
      position: relative;

      p {
        margin: 20px 0; //20px 0
      }

      button {
        margin: 15px 0.52vw; //15px 10px
      }

      .slide2font {
        position: absolute;
        bottom: 10%;
        left: 20%;
        color: #6E6E73;

        font: {
          size: 0.72vw; //14px
          weight: 600;
        }

        span {
          @include gradient;
        }
      }
    }
  }

  .slideImg3 {
    background-image: url(../public/img/slide_iphon.png);
    background-size: cover;
    background-position: center;
    position: relative;

    div {
      p {
        margin: 17px 0; //17px 0
      }

      button {
        margin: 0 0.52vw; //0 10px
      }

      .slide2font {
        color: #6E6E73;

        font: {
          size: 0.625vw; //12px
          weight: 600;
        }

        span {
          @include gradient;
        }
      }
    }
  }
}

// 이너메뉴
.innerMenu {
  @include full-width;
  @include margin-auto;
  padding: 3.5% 0;

  .innerWrap {
    @include contents-width;
    height: 100%;
    @include margin-auto;
    text-align: center;

    ul {
      padding: 0;
      display: flex;
      align-items: end;
      justify-content: space-between;

      li {
        list-style: none;
        text-align: center;
        cursor: pointer;

        img {
          width: auto;
          height: 9.9vh; //91px
        }

        p {
          margin-top: 1.63vh; //15px
          font-weight: 400;
          color: #1D1D1F;
        }
      }
    }
  }
}



//신제품 
.newWrap {
  @include contents-width;
  @include margin-auto;
  padding: 5% 0;
  text-align: center;

  h3 {
    font: {
      size: 1.56vw; //30px
      weight: 700;
    }

    color: #1D1D1F;
    cursor: default;
  }

  p {
    font: {
      size: 1.3vw; //25px
      weight: 700;
    }

    color: #6E6E73;
    cursor: default;
  }

  .newBoxWrap {
    width: 100%;
    height: 54.95vh;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;

    .newBox1 {
      .new1 {
        width: 21.04vw; //404px
        height: 100%;
        padding-left: 1.04vw; //20px
        padding-top: 3.26vh; //30px
        border-radius: 15px;
        background-image: url(../public/img/new1.png);
        background-size: cover;
        background-position: center;
        @include shadow;
        text-align: left;
        cursor: pointer;
        display: flex;
        flex-direction: column;

        h3 {
          margin-bottom: 1.08vh; //10px

          font: {
            size: 1.82vw; //35px
            weight: 700;
          }

          color: #1D1D1F
        }

        h5 {
          @include gradient2;

          font: {
            size: 1.14vw; //22px
            weight: 500;
          }
        }

        p {
          font: {
            size: 0.93vw; //18px
            weight: 500;
          }

          color: #1D1D1F;
        }
      }
    }

    .newBox2 {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .new {
        width: 43.02vw; //826px
        height: 25.35vh; //233px
        display: flex;
        border-radius: 15px;
        @include shadow;
        background-color: #F5F5F7;
        cursor: pointer;
      }

      .new2 {
        justify-content: space-around;
        align-items: end;

        .newfontBox {
          width: auto !important;
          max-width: none !important;
          text-align: left;
          margin: 2.82vh 0; //26px 0

          h3 {
            margin-bottom: 1.08vh; //10px

            font: {
              size: 1.82vw; //35px
              weight: 700;
            }

            color: #1D1D1F;
          }

          h4 {
            font: {
              size: 1.14vw; //22px
              weight: 600;
            }

            color: #6E6E73;
          }

          h5 {
            @include gradient2;

            font: {
              size: 1.14vw; //22px
              weight: 500;
            }
          }

          p {
            font: {
              size: 0.93vw; //18px
              weight: 500;
            }

            color: #1D1D1F;
          }
        }

        img {
          width: auto;
          height: 22vh; //211px
        }
      }

      .new3 {
        align-items: center;
        justify-content: space-around;

        .newfontBox2 {
          text-align: left;
          width: auto !important;
          max-width: none !important;

          h3 {
            margin-top: 2.17vh; //20px
            margin-bottom: 1.088vh; //10px

            font: {
              size: 1.8vw; //35px
              weight: 700;
            }

            color: #1D1D1F;
          }

          h4 {
            font: {
              size: 1.14vw; //22px
              weight: 600;
            }

            color: #6E6E73;
          }

          p {
            font: {
              size: 0.93vw; //18px
              weight: 500;
            }

            color: #1D1D1F;
          }
        }

        img {
          width: 14.73vw; //283px
          height: auto;
        }
      }
    }
  }
}



// 중앙 슬라이드
.centerWrap {
  @include full-width;
  height: 67.46vh; //620px
  @include margin-auto;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background: linear-gradient(to bottom, #F5F5F7 70%, #fff 50%);
  overflow: hidden;

  h3 {
    font: {
      size: 1.56vw; //30px
      weight: 700;
    }

    color: #1D1D1F;
    cursor: default;
  }

  p {
    font: {
      size: 1.3vw; //25px
      weight: 700;
    }

    color: #6E6E73;
    cursor: default;
  }

  .centerSlide {
    width: 100%;
    height: 52.23vh; //480px
    padding: 0 1.04vw; //20px
    overflow: visible;

    .center {
      width: 20.72vw; //398px
      height: 43.74vh; //402px
      padding-left: 1.56vw; //30px
      background-color: #6E6E73;
      @include shadow;
      border-radius: 15px;
      cursor: pointer;

      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;

      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 0.52vw 1.04vw rgba(0, 0, 0, 0.15);
      }
    }
  }

  .center1 {
    background-image: url(../public/img/경험1.png);
    background-size: cover;
    background-position: center;

    .centerfontBox1 {
      text-align: left;
      padding-top: 2.17vh; //20px

      h4 {
        font: {
          size: 1.56vw; //30px
          weight: 700;
        }

        @include gradient2;
      }

      p {
        margin: 1.088vh 0; //10px

        font: {
          size: 1.04vw; //20px
          weight: 600;
        }

        color: #1D1D1F;
      }
    }
  }

  .center2 {
    background-image: url(../public/img/경험2.png);
    background-size: cover;
    background-position: center;

    .centerfontBox2 {
      text-align: left;

      h5 {
        font: {
          size: 0.625vw; //12px
          weight: 700;
        }

        color: #6E6E73;
      }

      h4 {
        font: {
          size: 1.14vw; //22px
          weight: 700;
        }

        color: #1D1D1F;
      }

      p {
        margin: 1.088vh 0; //10px

        font: {
          size: 0.78vw; //15px
          weight: 500;
        }

        color: #1D1D1F;
      }
    }
  }

  .center3 {
    background-image: url(../public/img/경험3.png);
    background-size: cover;
    background-position: center;

    .centerfontBox3 {
      text-align: left;

      h5 {
        font: {
          size: 0.625vw; //12px
          weight: 700;
        }

        color: #6E6E73;
      }

      h4 {
        font: {
          size: 1.14vw; //22px
          weight: 700;
        }

        color: #1D1D1F;
        margin: 0;
      }
    }
  }

  .center4 {
    background-image: url(../public/img/경험4.png);
    background-size: cover;
    background-position: center;

    .centerfontBox4 {
      text-align: left;
      padding-top: 2.17vh; //20px

      h4 {
        font: {
          size: 1.14vw; //22px
          weight: 700;
        }

        color: #1D1D1F;
      }
    }
  }

  .center5 {
    background-image: url(../public/img/경험5.png);
    background-size: cover;
    background-position: center;

    .centerfontBox5 {
      text-align: left;
      padding-top: 2.17vh; //20px

      h4 {
        font: {
          size: 1.14vw; //22px
          weight: 700;
        }

        color: #1D1D1F;
      }

      p {
        margin: 1.088vh 0; //10px 0

        font: {
          size: 0.78vw; //15px
          weight: 500;
        }

        color: #1D1D1F;
      }
    }
  }

  .center6 {
    background-image: url(../public/img/경험6.png);
    background-size: cover;
    background-position: center;

    .centerfontBox6 {
      text-align: left;
      padding-top: 2.17vh; //20px

      h4 {
        font: {
          size: 1.14vw; //22px
          weight: 700;
        }

        color: #1D1D1F;
        line-height: 3.26vh; //30px
      }
    }
  }

  .center7 {
    background-image: url(../public/img/경험7.png);
    background-size: cover;
    background-position: center;

    .centerfontBox7 {
      text-align: left;

      h5 {
        font: {
          size: 0.625vw; //12px
          weight: 700;
        }

        color: #6E6E73;
      }

      h4 {
        font: {
          size: 1.14vw; //22px
          weight: 700;
        }

        color: #1D1D1F;
      }
    }
  }
}


// 악세서리
.contentWrap {
  @include contents-width;
  height: auto;
  margin: 4% auto;
  text-align: center;

  .contentTitle {
    text-align: center;

    h3 {
      font: {
        size: 1.56vw; //30px
        weight: 700;
      }

      margin: 0;
      color: #1D1D1F;
      cursor: default;
    }

    p {
      font: {
        size: 1.3vw; //25px
        weight: 700;
      }

      margin: 0;
      color: #6E6E73;
      cursor: default;
    }

  }

  .contentBigBox {
    width: 100%;
    margin: 4% 0;
    display: flex;
    justify-content: space-between;

    .contentImgBox {
      height: 24.48vh; //225px
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      img[alt="악세"] {
        max-width: 10.93vw; //210px
        height: auto;
      }

      img[alt="색상"] {
        max-width: 6.77vw; //103px
        height: auto;
      }
    }

    .contentBox {
      width: 14.47vw; //278px
      height: 43.52vh; //400px
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: #fff;
      border-radius: 15px;
      @include shadow;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 0.52vw 1.04vw rgba(0, 0, 0, 0.15);
      }

      .contentfont {
        text-align: left;
        padding: 0 0.78vw; //0 15px

        h6 {
          font: {
            size: 0.57vw; //11px
            weight: 600;
          }

          margin: 0;
          color: #B64400;
        }

        h4 {
          height: 5.44vh; //50px
          display: flex;
          align-items: center;

          font: {
            size: 0.72vw; //14px
            weight: 600;
          }

          color: #1D1D1F;
          margin: 0;
        }

        p {
          font: {
            size: 0.67vw; //13px
            weight: 400;
          }

          color: #1D1D1F;
          margin: 0;
        }
      }

      .contentfont2 {
        text-align: left;
        padding: 0 0.78vw; //15px

        h6 {
          font: {
            size: 0.57vw; //11px
            weight: 600;
          }

          margin: 0;
          color: #B64400;
        }

        h4 {
          height: 5.44vh; //50px
          display: flex;
          align-items: center;

          font: {
            size: 0.72vw; //14px
            weight: 600;
          }

          color: #1D1D1F;
          margin: 0;
        }

        p {
          font: {
            size: 0.67vw; //13px
            weight: 400;
          }

          color: #1D1D1F;
          margin: 0;
        }
      }
    }
  }
}



// 할인
.saleWrap {
  @include full-width;
  height: auto;
  margin: 5% auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .saleBox {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .sale1 {
      width: 47.65vw; //915px
      height: 28.29vh; //260px
      padding: 0 1.04vw; //0 20px
      background-color: #F5F5F7;
      border-radius: 15px;
      @include shadow;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      cursor: pointer;

      .sale1font {
        text-align: left;
        padding-top: 1.3vh; //12px
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h5 {
          font: {
            size: 0.72vw; //14px
            weight: 600;
          }

          color: #6E6E73;
        }

        h4 {
          font: {
            size: 1.56vw; //30px
            weight: 700;
          }

          color: #1D1D1F;
        }

        p {
          font: {
            size: 0.78vw; //15px
            weight: 400;
          }

          margin: 0;
        }
      }
    }

    .sale2 {
      width: 47.65vw; //915px
      height: 28.29vh; //260px
      padding: 0 1.04vw; //0 20px
      background-color: #1D1D1F;
      border-radius: 15px;
      @include shadow;
      color: #fff;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      .sale2font {
        padding-top: 1.63vh; //15px
        position: relative;

        h5 {
          font: {
            size: 0.72vw; //14px
            weight: 600;
          }

          color: #6E6E73;
        }

        h4 {
          font: {
            size: 1.56vw; //30px
            weight: 700;
          }
        }

        p {
          font: {
            size: 0.78vw; //15px
            weight: 400;
          }
        }

        h3 {
          font: {
            size: 1.04vw; //20px
            weight: 600;
          }
        }

        h6 {
          position: absolute;
          left: 0;
          bottom: 12%;

          font: {
            size: 0.78vw; //15px
            weight: 600;
          }

          margin: 0;
          color: #8ECFFF;
          cursor: pointer;
        }
      }
    }
  }
}


// 고객지원
.serviceWrap {
  @include full-width;
  @include margin-auto;
  text-align: center;

  img {
    max-width: 98.95vw;
    height: auto;
  }

  .serviceContent {
    @include contents-width;
    margin: 4% auto;
    text-align: center;

    h2 {
      font: {
        size: 2.08vw; //40px
        weight: 700;
      }

      color: #1D1D1F;
      cursor: default;
    }

    .serviceRow {
      margin: 5% 0;
      width: 100%;
      justify-content: center;

      .serviceCol {
        height: 200px;
        padding: 0;
        background-color: #F5F5F7;
        border-radius: 15px;
        @include shadow;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 0.52vw 1.04vw rgba(0, 0, 0, 0.15);

          p {
            text-decoration: underline;
          }
        }

        img[alt="계정"] {
          width: 4.16vw;
          height: auto;
          margin-bottom: 5px;
        }

        img[alt="수리"],
        img[alt="청구"] {
          width: 3.125vw;
          height: auto;
          margin-bottom: 15px;
        }

        p {
          margin: 0;
          color: #0077ED;
          font-weight: 500;
        }
      }
    }
  }

  .serviceContent2 {
    @include contents-width;
    margin: 5% auto;

    h2 {
      font: {
        size: 2.08vw; //40px
        weight: 700;
      }

      color: #1D1D1F;
      cursor: default;
    }

    .input-group {
      margin: 4% auto;

      .serviceInput {
        padding: 10px 0.528vw;
      }

      #button-addon2 {
        .fi-rs-search {
          font-size: 1.04vw;
        }

        &:hover {
          background-color: #0077ED;
        }
      }
    }
  }
}


//장바구니
.cartfont1 {
  @include contents-width;
  margin: 5% auto;
  text-align: center;

  h2 {
    font: {
      size: 1.82vw;
      weight: 600;
    }
    cursor: default;
    color: #1D1D1F;
  }

  p {
    margin: 2% 0;

    font: {
      size: 0.83vw;
      weight: 500;
    }
    cursor: default;
    color: #6E6E73;
  }

  .cartBtn1 {
    width: 20.83vw;
    font-size: 0.83vw;
    padding: 10px 0;
  }
}

.cartTable {
  @include contents-width;
  margin: 4% auto;
  color: #1D1D1F;

  thead {
    text-align: center;
    vertical-align: middle;

    th {
      padding: 20px 0;
      cursor: default;
    }
  }

  tbody {
    text-align: center;
    vertical-align: middle;
    color: #1D1D1F;

    .cartTitle {
      &:hover {
        text-decoration: underline;
      }
    }

    .cartCount {
      button{
        border: none;
        background-color: transparent;
        border-radius: 5px;
        text-align: center;
        vertical-align: middle;
        padding: 3px;
      }

      span{
        margin: 0 5px;
        font: {
          size: 16px;
          weight: 500;
        }
        cursor: default;
      }

      .cartDelt {
        margin: 10px 0;

        font: {
          size: 14px;
          weight: 500;
        }

        cursor: pointer;
        color: #0077ED;

        &:hover {
          text-decoration: underline;
        }
      }
    }


  }
}

.cartBtns {
  @include contents-width;
  margin: 4% auto;
  text-align: center;

  .cartBtn2 {
    font-size: 0.83vw;
    width: 20.83vw;
    padding: 10px 0;
  }
}