@charset "utf-8";

@media (max-width: 767px) {

    // 헤더
    .header {
        .headerNav {
            position: relative;

            .navbar-toggler {
                position: absolute;
                left: 5%;
                top: 10px;
            }

            .fi-brands-apple {
                font-size: 30px !important;
                position: absolute;
                top: 15px;
                left: 50%;
            }

            .fi-rr-search,
            .fi-rs-user,
            .fi-rc-shopping-bag {
                font-size: 20px !important;
            }

            .me-auto {
                margin: 0 auto;

                a {
                    margin: 0 1.668vw !important; //20px
                    font-size: 16px !important; //16px
                }
            }

            #responsive-navbar-nav {
                margin-top: 50px;
                z-index: 999;
                background-color: rgba(255, 255, 255, .8);

                .nav-link {
                    i {
                        margin-left: 1.04vw
                    }
                }
            }
        }
    }


    // 푸터
    .footer {
        height: auto !important; //1250px
        margin-top: 2.17vh !important; //20px

        .footerWrap {
            padding: 0.54vh 0 !important; //5px 0

            hr {
                margin: 8px 0 !important;
            }

            .footerTab {
                height: 4.35vh !important; //40px
                margin: 2.17vh auto !important; //20px

                h3 {
                    font: {
                        size: 1.91vw !important; //23px
                    }
                }

                ul {

                    li {
                        width: 10.42vw !important; //125px
                        margin: 0 1vw !important; //50px
                        padding: 0.87vh 0 !important; //8px 0

                        font: {
                            size: 1.417vw !important; //17px
                            weight: 400;
                        }

                        .fi-bs-arrow-up-right {
                            font-size: 0.83vw !important; //10px
                            margin-left: 0.83vw !important; //10px
                        }
                    }
                }
            }

            .footerfont1 {

                p {
                    font: {
                        size: 1vw !important; //12px
                        weight: 600;
                    }
                }
            }

            h4 {
                font: {
                    size: 1.25vw !important; //15px
                    weight: 700;
                }
            }

            h4 {
                margin-top: 5px !important;
                margin-bottom: 8px !important;
            }

            .font2BoxWrap {

                .font2Box {
                    p {
                        font: {
                            size: 1.167vw !important; //14px
                            weight: 700;
                        }
                    }

                    ul {
                        margin-bottom: 1.63vh !important; //15px

                        li {
                            margin: 1.088vh 0 !important; //10px 0

                            font: {
                                size: 1.167vw !important; //14px
                                weight: 400;
                            }
                        }
                    }
                }
            }

            p {
                font: {
                    size: 1vw !important; //13px
                    weight: 500;
                }
            }

            .footerfont3 {
                padding-bottom: 0.417vh !important; //5px

                .font3Box {
                    ul {
                        margin: 0 0.83vw !important; //10px

                        li {
                            margin: 0 0.26vw !important; //5px

                            font: {
                                size: 1vw !important; //13px
                            }

                            &:not(:first-child)::before {
                                margin-right: 0.417vw !important; //10px
                            }
                        }
                    }
                }
            }
        }
    }

}

@media (min-width: 768px) and (max-width: 1199px) {

    // 헤더
    .header {
        .headerNav {
            position: relative;

            .navbar-toggler {
                position: absolute;
                left: 5%;
                top: 10px;
            }

            .fi-brands-apple {
                font-size: 30px !important;
                position: absolute;
                top: 15px;
                left: 50%;
            }

            .fi-rr-search,
            .fi-rs-user,
            .fi-rc-shopping-bag {
                font-size: 20px !important;
            }

            .me-auto {
                margin: 0 auto;

                a {
                    margin: 0 1.668vw !important; //20px
                    font-size: 16px !important; //16px
                }
            }

            #responsive-navbar-nav {
                margin-top: 50px;
                z-index: 999;
                background-color: rgba(255, 255, 255, .8);

                .nav-link {
                    i {
                        margin-left: 1.04vw
                    }
                }
            }
        }
    }


    // 푸터
    .footer {
        height: auto !important; //1250px
        margin-top: 2.17vh !important; //20px

        .footerWrap {
            padding: 0.54vh 0 !important; //5px 0

            hr {
                margin: 8px 0 !important;
            }

            .footerTab {
                height: 4.35vh !important; //40px
                margin: 2.17vh auto !important; //20px

                h3 {
                    font: {
                        size: 2vw !important; //23px
                    }
                }

                ul {

                    li {
                        width: 10.42vw !important; //125px
                        margin: 0 1vw !important; //50px
                        padding: 0.87vh 0 !important; //8px 0

                        font: {
                            size: 1.417vw !important; //17px
                            weight: 400;
                        }

                        .fi-bs-arrow-up-right {
                            font-size: 0.83vw !important; //10px
                            margin-left: 0.83vw !important; //10px
                        }
                    }
                }
            }

            .footerfont1 {

                p {
                    font: {
                        size: 1.2vw !important; //12px
                        weight: 600;
                    }
                }
            }

            h4 {
                font: {
                    size: 1.5vw !important; //15px
                    weight: 700;
                }
            }

            h4 {
                margin-top: 5px !important;
                margin-bottom: 8px !important;
            }

            .font2BoxWrap {

                .font2Box {
                    p {
                        font: {
                            size: 1.3vw !important; //14px
                            weight: 700;
                        }
                    }

                    ul {
                        margin-bottom: 1.5vh !important; //15px

                        li {
                            margin: 1.088vh 0 !important; //10px 0

                            font: {
                                size: 1.2vw !important; //14px
                                weight: 400;
                            }
                        }
                    }
                }
            }

            p {
                font: {
                    size: 1.2vw !important; //13px
                    weight: 500;
                }
            }

            .footerfont3 {
                padding-bottom: 0.417vh !important; //5px

                .font3Box {
                    ul {
                        margin: 0 0.83vw !important; //10px

                        li {
                            margin: 0 0.5vw !important; //5px

                            font: {
                                size: 1.2vw !important; //13px
                            }

                            &:not(:first-child)::before {
                                margin-right: 0.5vw !important; //10px
                            }
                        }
                    }
                }
            }
        }
    }

}


@media (min-width: 1200px) and (max-width: 1439px) {

    // 헤더
    .header {
        .headerNav {
            .fi-brands-apple {
                font-size: 2vw !important; //24px
            }

            .fi-rr-search,
            .fi-rs-user,
            .fi-rc-shopping-bag {
                font-size: 1.666vw !important; //20px
            }

            .me-auto {
                a {
                    margin: 0 1vw !important; //20px
                    font-size: 1.2vw !important; //16px
                }
            }
        }
    }


    // 푸터
    .footer {
        height: auto !important;

        .footerWrap {
            padding: 0.54vh 0 !important; //5px 0

            hr {
                margin: 10px 0 !important;
            }

            .footerTab {
                height: 4.35vh !important; //40px
                margin: 2.17vh auto !important; //20px

                h3 {
                    font: {
                        size: 1.91vw !important; //23px
                    }
                }

                ul {

                    li {
                        width: 8vw !important; //125px
                        margin: 0 1.47vw !important; //50px
                        padding: 0.87vh 0 !important; //8px 0

                        font: {
                            size: 1.1vw !important; //17px
                            weight: 400;
                        }

                        .fi-bs-arrow-up-right {
                            font-size: 0.69vw !important; //10px
                            margin-left: 0.69vw !important; //10px
                        }
                    }
                }
            }

            .footerfont1 {

                p {
                    font: {
                        size: 1vw !important; //12px
                        weight: 600;
                    }
                }
            }

            h4 {
                margin-bottom: 8px !important;

                font: {
                    size: 1.25vw !important; //15px
                    weight: 700;
                }
            }

            .font2BoxWrap {

                .font2Box {
                    p {
                        font: {
                            size: 1.1vw !important; //14px
                            weight: 700;
                        }
                    }

                    ul {
                        margin-bottom: 1.63vh !important; //15px

                        li {
                            margin: 1.088vh 0 !important; //10px 0

                            font: {
                                size: 1vw !important; //14px
                                weight: 400;
                            }
                        }
                    }
                }
            }

            p {
                font: {
                    size: 1vw !important; //13px
                    weight: 500;
                }
            }

            .footerfont3 {
                padding-bottom: 0.54vh !important; //5px

                .font3Box {
                    ul {
                        margin: 0 0.83vw !important; //10px

                        li {
                            margin: 0 0.416vw !important; //5px

                            font: {
                                size: 1vw !important; //13px
                            }

                            &:not(:first-child)::before {
                                margin-right: 0.83vw !important; //10px
                            }
                        }
                    }
                }
            }
        }
    }
}